<h2>Fill Out The Fields To Save A Guitar To Your Wishlist!</h2>
<h3></h3>
<br>
<form action="/guitars" method="post">
    <input type="text" name="maker" placeholder="Manufacturer"> 
    <br>
    <input type="text" name="model" placeholder="Model"> 
    <br>
    <input type="text" name="color" placeholder="Color Derscription">
    <br>
    <input type="integer" name="year_created" placeholder="Year">
    <br>
    <input type="text" name="image_url" placeholder="Photo URL">
    <br>
    <br>
    <input type="submit" value="Add to Wishlist">
    <br>
    <br>
</form>
<a href="/guitars"> Back To Guitars </a>