<h2>Fill Out As Many Fields As You Would Like To Save A Guitar To Your Profile!</h2>
<br>
<form action="/guitar/new" method="post">
    <input type="text" name="maker" placeholder="manufacturer"> 
    <br>
    <input type="text" name="model" placeholder="model"> 
    <br>
    <input type="text" name="color" placeholder="color">
    <br>
    <input type="integer" name="year_created" placeholder="year">
    <br>
    <input type="text" name="image_url" placeholder="photo url">
    <br>
    <form action="/guitar/show" method="post">
    <br>
    <input type="submit" value="Add to Wishlist">
    </form>

</form>