<h2>Fill Out The Form Fields To Save A Guitar To Your Wishlist!</h2>
<br>
<form action="/guitars" method="post">
    <input type="text" name="maker" placeholder="Manufacturer (required)"> 
    <br>
    <input type="text" name="model" placeholder="Model (required)"> 
    <br>
    <input type="text" name="color" placeholder="Color Derscription">
    <br>
    <input type="integer" name="year_created" placeholder="Year">
    <br>
    <input type="text" name="image_url" placeholder="Photo URL">
    <br>
    <br>
    <input type="submit" value="Add to Wishlist">
    <br>
</form>
<br>
<a href="/guitars"> Back To Guitars </a>
<br>