<h2>Please Create An Account!</h2>
<form action="/signup" method="post">
    <input type="email" name="email" placeholder="email"> 
    <br>
    <br>
    <input type="password" name="password" placeholder="password"> 
    <br>
    <br>
    <form action="/login" method="post">
    <input type="submit" value="Create Account">
    </form>

</form>