<h3>Welcome to the Guitar Wishlist App! Please create an account or sign in to start saving your dream guitars!</h3>
<form action="/login" method="post">
    <input type="email" name="email" placeholder="email">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="submit" value="Sign In">
    <br>
    <a href="/signup">Create Account</a> 
</form>